/* Adding styles to text on the landing page */
#home {
  background-image: url("../../assets/img/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  font-size: 45px;
  line-height: 50px;
  margin: 0 0 10px 0 !important;
  z-index: 1;
  text-align: center;
}

/* Setting color of specific text within the <intro> div */
.name {
  color: #0bc2c9;
  font-weight: 600;
}

/* Styling button */
.btn {
  background-color: #0bc2c9;
  border-color: #0bc2c9;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background-color: #e31b6d;
  border-color: #e31b6d;
}

/* Rotates arrow on hover */
.btn-home:hover i {
  transform: rotateZ(90deg);
}

.btn-home > div {
  padding: 5px 10px 5px 10px;
}

.btn i {
  display: block;
  transition: all 0.4s ease;
  color: #fff;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #0bc2c9;
  border-color: #0bc2c9;
}

section:nth-of-type(1) {
  color: #fff;
  height: 100vh;
  padding: 0 10px;
  background-color: #252a35;
}