/* General Styles */

body {
  background-color: #d2d5da;
  font-family: 'Roboto', sans-serif;;
}

.container-fluid {
  min-height: 100vh; /* covers 100% of viewport */
  width: 100%;
  position: relative;
  padding-bottom: 100px; 
}

h2 {
  margin: 0px;
  font-size: 32px;
  line-height: 42px;
  opacity: 0.7;
  font-weight: 500;
  padding-top: 20px;
}

i {
  font-size: 50px;
  color: #333f48;
}

a > i {
  font-size: 25px;
  color: #ffffff;
}

a > i:hover {
  font-size: 25px;
  color: #333f48;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.skills, .career, #portfolio.col-md-12, #education.col-md-12 {
  padding: 0;
}

#about .row .intro, #skills .skill-line, #career .career-line, .portfolio, .education, .contact {
  padding: 40px 40px 80px 30px;
}

#course, .skill-line, #contact-container {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

/* Header */

header {
  position: sticky;
}

.navbar {
  background-color: #2196f3;
}

/* Header a tags colour and font weight */

header #navbarNav a {
  color: #f7f8f9;
  font-weight: 900;
}

/* Header, font awesome icons & side navigation a tags hover colour */

header #navbarNav a:hover {
  color: #333f48;
}

/* Section */

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.row {
  margin-bottom: 0px;
}

/* Section: About */

#about {
  padding-top: 100px;
  text-align: center;
}

#about .profile-pic img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  vertical-align: middle;
  margin-top: -70px;
}

#about .row .intro {
  background: #ffffff;
}

#about .intro-content {
  text-align: center;
  margin: 0 auto;
  float: none;
}

#about .intro-content h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 52px;
  padding-top: 0px;
}

#about .intro-content span {
  font-size: 18px;
  line-height: 34px;
  color: #8a8a8b;
  margin-bottom: 25px;
}

/* Section: Skills */

#skills-chart-column {
  padding: 5% 0;
}

#skills-icons-column {
  text-align: center;
  padding: 10% 0;
}

/* Section: Career */

#career .career-line {
  background-color: #2196f3;
}

/* Section: Portfolio */

#portfolio .container {
  padding: 0;
}

.portfolio {
  background-color: #ffffff;
}

.carousel-caption > h5 > a {
  color: #2ea752;
  font-weight: 900;
}

.carousel-caption > p > a {
  color: #000000;
  font-weight: 900;
}

#two > p > a {
  color: #ffffff;
}

/* Section: Education */

.fade {
  opacity: 1;
}

.education {
  background-color: #d2d5da;
  padding-left: 0;
  padding-right: 0;
}

.education .col-md {
  padding: 0px 0px 10px 0px;
}

#education-column-left {
  margin-right: 10px;
}

#education-column-right {
  margin-left: 10px;
}

#course {
  padding: 10px 0px 10px 0px;
  text-align: center;
}

/* Section: Contact */

.contact {
  background-color: #333f48;
}

/* Container colour and margin */

#contact-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

/* Row margin */

#contact-row {
  padding: 50px 0px 50px 0px;
}

/* Half columns padding */

#first-name, #last-name, #email, #message {
  padding: 0px 15px 15px 15px;
}

/* Extending width of input form boxes */

@media screen and (max-width: 767px) {
  .form-control {
    width: 300px;
  }
}

@media screen and (max-width: 414px) {
  #education-column-left {
    margin: 0px 10px 0px 10px;
  }
  
  #education-column-right {
    margin: 0px 10px 0px 10px;
  }
}