/* Body styling for each page */

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;;
}

/* Main container  */

.container-fluid {
  min-height: 100vh; /* covers 100% of viewport */
  width: 100%;
  position: relative;
  padding-bottom: 100px; 
}