/* Container content & text centered, background colour, top margin & width */

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
}

/* First row bottom border and padding */

.col-md-12 {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 0;
}

/* Columns 1 & 2 of row 2 top & bottom padding */

.col-md-6 {
  padding: 10px 0px 10px 0px;
}

/* Image thumbnail sizing */

.project-image {
  height: 250px;
  width: 250px;
}

/* a tag color and styling */

.row a {
  color: rgb(187, 187, 187);
  text-decoration: none;
}

/* a tag hover colour */

a:hover {
  color: rgb(0, 0, 0);
}