.container {
  background-color: #ffffff;
  margin-top: 40px;
}

#contact-info {
  padding: 0;
  border-right: 1px solid rgb(236, 236, 236);
}

.side-pane, .profile-name, .profile-image, .social-media {
  display: flex;
  justify-content: center;
}

.side-pane {
  flex-wrap: wrap;
  font-size: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.side-pane a {
  text-decoration: none;
}

.profile-name, .profile-image, .social-media {
  width: 100%;
}

.profile-name a {
  color: rgb(187, 187, 187);
  font-size: 30px;
  font-weight: 900;
}

.profile-name a:hover {
  color: rgb(0, 0, 0);
}

.profile-image img {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.fa-linkedin, .fa-github-square, .fa-envelope-square, .fa-instagram {
  padding: 10px;
  color: rgb(187, 187, 187);
}

.fa-instagram:hover, .fa-linkedin:hover, .fa-github-square:hover, .fa-envelope-square:hover {
  color: rgb(0, 0, 0);
}

.col-md-8 {
  padding: 0;
}

.col-md-8 section {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.logo-netsuite, .logo-css {
  height: 50px;
  width: 50px;
  padding: 5px;
}