/* Contact Me Body */

/* Container colour and margin */

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
}

/* Row margin */

.row {
  margin: 50px;
}

/* Half columns padding */

.col-md-6, .col-md-12 {
  padding: 0px 15px 15px 15px;
}

/* Full columns padding */

.col-md-12 {
  padding: 0px 15px 15px 15px;
}

/* Extending width of input form boxes */

@media screen and (max-width: 767px) {
  .form-control {
    width: 300px;
  }
}