/* Navigation Menu */
#navbar {
  border-bottom: 3px solid #04c2c9;
  background-color: #001b31;
}

.toggle-icon {
  background-color: #04c2c9;
}

.nav-link:hover {
  color: #e31b6d!important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #04c2c9
}